/* Autor: carlos*/

body.formulario{
    text-align: center;
    background-color:rgb(61, 61, 61);
    color:white;
    font-family: 'Roboto', sans-serif; 
}
h1.formul{
    color: aqua;
}
h1 {
    background-color: #282f40;
    text-align: center;
    color: #d7dbe6;
    font-size: 32px;
}
.indice {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    
}
a {
    color:rgb(255, 255, 255);
}
.columnas{
    column-count: 1;
    text-align: justify;
    float: left;
    border: 1px solid silver;
    background-color: #343e57;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    font-size: 16px;
}

.aside {
    float: left;
    width: 160px;
    height: 150%;
    background-color: rgb(102, 95, 95);
    margin-top: 60px;
    padding: 2px;
    box-sizing: border-box;
    border: solid 3px rgb(102, 95, 95);
    box-shadow: 2px 5px 5px;
    position: fixed;
    
} 
    
.section { 
    float: right;
    width: calc(95% - 150px);
    margin-right: 20px;
}
.header {
    height: 55px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}
.sobremi {
    text-align: left;
    font-size: 26px;
    color: white;
    border: gray solid 1px;
    background-color: gray;
    height: 100%;
    width: auto;
    margin-top: 2px;
    margin-left: 10px;
    padding: 20px;
}
