/* Autor: carlos*/

.header {
    height: 55px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.aside {
    float: left;
    width: 160px;
    height: 150%;
    background-color: rgb(102, 95, 95);
    margin-top: 60px;
    padding: 2px;
    box-sizing: border-box;
    border: solid 3px rgb(102, 95, 95);
    box-shadow: 2px 5px 5px;
    position: fixed;
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
} 
.aside a {
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.aside a:hover {
    background-color: rgb(153, 161, 161) !important;
    
}
#contenido { /* Es el contenido de la pagina Indice*/
    float: right;
    width: calc(100% - 180px);
    text-align: center;
}

.formulario{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.indice {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    font-family: 'Roboto', sans-serif; 
    
}
a {
    color:rgb(255, 255, 255);
}
.caracteristicas{
    column-count: 3;
    column-rule: rgb(102, 102, 102) solid 2px;
    text-align: justify;
    float: left;
    color: black;
    border: 2px solid black;
    background-color: rgb(177, 175, 175);
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;

}
.caracteristicas p{
    break-after: column;
    text-align: center;
}
.actividades {
    column-count: 2;
    column-rule: rgb(102, 102, 102) solid 2px;
    text-align: center;
    float: left;
    color: black;
    border: 2px solid black;
    background-color: rgb(158, 155, 155);
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;

}

.youtube {
    text-align: center;
    float: left;
    background-color: rgb(158, 155, 155);
    border: 2px solid black;
    color: black;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15px;
    padding: 10px;
    background: rgb(102, 95, 95);
    text-align: center;
    clear: both;
}    


.sobremi {
    text-align: left;
    font-size: 26px;
    color: white;
    height: 300px;
    width: auto;
    margin-left: 10px;
}


.curriculum {
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif; 
}

/*prueba
      <h1 class="formul">Formulario Prueba</h1>
      <p>Nombre: <input type="text" name="nombre" size="40"></p>
      <p>Fecha de nacimiento: <input type="number" name="nacido" min="1900"></p>
      <p>Sexo:
        <input type="radio" name="hm" value="h"> Hombre
        <input type="radio" name="hm" value="m"> Mujer
      </p>
      <p>
        <input type="checkbox" name="Verificacion"> Acepto la politica de privacidas
      </p>
      <p>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
      </p>
*/